<!DOCTYPE html>
<html>
<head>
	<title>View PDF</title>
	<style>
		body{
			background-color: #f7f7f7;
		}
	</style>
</head>
<body>
	<h1>Creating PDF using FPDF</h1>
	<div>
		<a href="{% url 'demo' %}">Demo</a>	
	</div>
	<div>
		<a href="{% url 'change_fonts' %}">change_fonts</a>	
	</div>
	<div>
		<a href="{% url 'draw_lines' %}">draw_lines</a>	
	</div>
	<div>
		<a href="{% url 'draw_shapes' %}">draw_shapes</a>	
	</div>
	<div>
		<a href="{% url 'add_image' %}">add_image</a>	
	</div>
	<div>
		<a href="{% url 'multipage_simple' %}">multipage_simple</a>	
	</div>
	<div>
		<a href="{% url 'create_pdf' %}">create_pdf</a>	
	</div>
	<div>
		<a href="{% url 'simple_table' %}">simple_table</a>	
	</div>
	<div>
		<a href="{% url 'simple_table_html' %}">simple_table_html</a>	
	</div>
	<div>
		<a href="{% url 'html2pdf' %}">html2pdf</a>	
	</div>


</body>
</html>